@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background-color: black;  
    display: flex; 
}
.logo{
    width: 90px;
    height: 20px;
    margin-top: 25px;
    margin-left: 180px;
}
nav{
    font-size: smaller;
    align-items: center;
    display: flex;
    list-style: none;
    margin-left: 120px;
}
li a{
    font-size: medium;
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.avatar{

    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 90px;
}
.frm1{
    width: 100%;
    height: 750px;
}
.fp{
    width: 100%;
    height: 750px;
}
.frm2{
    width: 100%;
    height: 302px;
    background-color: #fff;
    display: flex;
}
.frm2a{
    background-image: url(img/i11.webp);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 2px;
    margin: 1px;
    width: 28%;
    height: 300px;
    background-color: aqua;
}
.frm2b{
    background-image: url(img/iqoo9);
    background-position: center;
    background-size: cover;
    margin: 1px;
    margin-left: 2px;
    width: 28%;
    height: 300px;
    background-color: yellow;
}
.frm2c{
    background-image: url(img/iqoo6pro);
    background-position: center;
    background-size: cover;
    margin: 1px;
    margin-left: 2px;
    width: 28%;
    height: 300px;
    background-color: gray;
}
.frm2d{
    background-image: url(img/iqoo-z6);
    background-position: center;
    background-size: cover;
    margin: 1px;
    margin-left: 2px;
    width: 28%;
    height: 300px;
    background-color: green;
}
.frm3{
    width: 100%;
    height: 300px;
    background-color: rgb(188, 28, 68);
    display: flex;
}

.frm3a{
    width: 25%;
    height: 300px;
    background-color:#fff;
}
.a1{
    color: #000;
    margin-top: 30px;
    margin-left: 160px;
    font-size:18px;
    font-family:Montserrat, sans-serif;
}
.b1{
    margin-top: 30px;
    font-family:Montserrat, sans-serif;
    font-size: 20px;
    margin-left: 160px;
}
h4 a{
    text-decoration: none;
    color: #999;
   
}

.frm3b{
    text-align: left;
    width: 14%;
    height: 300px;
    background-color:#fff;
    line-height: 2px;
}
.a2{
    margin-top: 19px;
    text-align: left;
    font-size:18px;
    line-height: 45px;
    font-family:Montserrat, sans-serif;
}
.b2{
    margin-top: 30px;
    font-family:Montserrat, sans-serif;
    font-size: 16px;
    text-align: left;
}

.frm3c{
    background-color:#fff;
    width: 31%;
    height: 300px;
}
.a3{
    font-family:Montserrat, sans-serif;
    margin-top: 25px;
}
.b3{
    font-family:Montserrat, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    line-height: 10px;
}


.frm3d{
    width: 31%;
    height: 300px;
    background-color: #fff;
}
.call{
    margin-top: 10px;
    width: 25px;
    height: 24px;
}
.mail{
    margin-top: 20px;
    width: 30px;
    height: 25px;
}
.a4{
    font-family:Montserrat, sans-serif;
    margin-top: 25px;
}
.b4{
    font-family:Montserrat, sans-serif;
    font-size: 16px;
    margin-top: -13px;
    margin-left: 40px;
    /* line-height: 10px; */
}
.b4a{
    font-family:Montserrat, sans-serif;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 40px;
    /* line-height: 10px; */
    
}
.b4a a{
    color: #000;
    text-decoration: none;
}
.b4b{
    font-family:Montserrat, sans-serif;
    font-size: 16px;
    margin-top: 30px;
}
.b4list{
    float: left;
    display: flex;
    line-height: 100px;
}
.b4list li{
    
    list-style: none;
    
}
.scm{
    margin-left: -15px;
    width: 27px;
    height: 27px;
}
.frm4{
    width: 100%;
    height: 80px;
    background-color:#fff;
}
.line{
    size: 9px;
    width: 80%;
    border-top:  2px   #999;
    margin-left: 140px;
}

.frm4 a{
    color:#999;
}
.last{
list-style: none;
}
nav2{
    line-height: 50px;
    display: flex;
    margin-left: 120px;
}
.lang{
    font-family:Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #999;
    margin-left: 350px;
}
footer{
    width: 100%;
    height: 66px;
    padding: 25px;
    background-color: #1a1a1a;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    color: #999;
    text-align: center;
}



